<%- include("header") -%>
<form method="post" action="/tryagain" id="tryform">
    <span id="trytext">wrong password or email Please Try Again</span><br>
    <button name="tryagain" id="try">Tryagain</button>
  </form>
<%- include("footer") -%>